# ===== R/RStudio =====
.Rhistory
.Rapp.history
.RData
.RDataTmp
*.Rds
*.rds
.Rproj.user/
*.Rproj
.Ruserdata
.httr-oauth
vignettes/*.html
vignettes/*.pdf
/*.tar.gz
/*.Rcheck/

# ==== Cache/temp file ====
*_cache/
/cache/
po/*~
*.utf8.md
*.knit.md

# ===== scAnalysis =====
data/raw/
data/processed/
*.fastq*
*.bam
*.h5ad
*.loom
*.mtx*

# ===== outputs =====
results/
*.html
*.pdf
*.log

# ===== system file =====
.DS_Store
Thumbs.db
.vscode/
__pycache__/

# ===== environment/secret =====
.env
*.secret
.Renviron

# ===== reference code template ====
*_template.*
